/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



#table-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 800px;
  padding: 20px 50px 20px 50px;
  border-radius: 4px;
}

.mat-cell, .mat-header-cell {
  font-size: x-small;
  min-height: auto;
  padding: 5px 30px 5px 0px;
}

.mat-header-cell:first-child, .mat-cell:first-child {
  flex: 20%;
}

.mat-header-cell:nth-child(2), .mat-cell:nth-child(2) {
  flex: 60%;
}

.mat-header-cell:last-child, .mat-cell:last-child {
  flex: 20%
}
 
#table-paginator{
  display: flex;
  justify-content: center;
  font-size: x-small;
  padding-top: 7px;
}

#search-bar {
  font-size: x-small;
}
