/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-table {
    border-radius: 4px;
  }

#table-container {
  margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 800px;
    padding: 40px;
  }

  .mat-cell, .mat-header-cell {
    font-size: x-small;
    min-height:auto;
    padding: 12px 30px 12px 0;
  }