<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <div id="table-container" class="mat-elevation-z4">
    <mat-form-field id="search-bar">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort matSortActive="Name">

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{entry.first_name || entry.contact_info.phone}} {{entry.last_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Message">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{entry.messages[0].body | truncate:250 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date & Time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date & Time</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{entry.messages[0].date_completed.$date | date: 'medium'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator id="table-paginator"[pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  </div>
</body>

</html>